@font-face {
  font-family: 'thirsty_script';
  font-style: normal;
  font-weight: normal;
  src: url("./thirsty-script-extrabold.woff") format("woff");
}

.reveal .title-script {
  font-family: thirsty_script, "League Gothic", Impact, sans-serif;
  text-transform: none;
  margin: -30px;
  color: #d82a2a;
  z-index: 1;
  position: relative;
  top: -15px;
  font-size: 140px;
}

.reveal .title-script-smaller {
  font-family: thirsty_script, "League Gothic", Impact, sans-serif;
  text-transform: none;
  margin: -30px;
  color: #d82a2a;
  z-index: 1;
  position: relative;
  top: -15px;
  font-size: 100px;
}

.bold {
  font-family: "League Gothic", Impact, sans-serif;
  text-transform: uppercase;
}

.bold-small {
  font-family: "League Gothic", Impact, sans-serif;
}

.reveal section img {
  border: 0;
  box-shadow: none;
}

.reveal pre code {
  padding: 10px;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

section.future .section-appear {
  animation: none;
}

.appear {
  opacity: 0;
  animation: none;
}

.section-appear,
.appear.current-fragment {
  animation: appear 1s ease both;
  animation-delay: 0.4s;
}

body {
  counter-reset: chapter
}

.chapter::before {
  counter-increment: chapter;
  content: counter(chapter);
}

ul.hands {
  list-style-type: none;
}

ul.hands li {
  margin: 10px 0;
}

ul.hands li::before {
  content: '☞';
  margin-right: 10px;
}

.reveal .slides section .fragment.marker {
  opacity: 1;
  visibility: inherit;
  padding: 0 5px;
  margin: 0 -5px
}

.reveal .slides section .fragment.marker.visible,
.reveal .slides section .fragment.marker.visible .hljs-built_in,
.reveal .slides section .fragment.marker.visible .hljs-string,
.reveal .slides section .fragment.marker.visible .hljs-number,
.reveal .slides section .fragment.marker.visible .hljs-keyword {
  color: black;
}

.reveal .slides section .fragment.marker.blue.visible,
.reveal .slides section .fragment.marker.blue.visible .hljs-built_in,
.reveal .slides section .fragment.marker.blue.visible .hljs-string,
.reveal .slides section .fragment.marker.blue.visible .hljs-number,
.reveal .slides section .fragment.marker.blue.visible .hljs-keyword {
  color: white;
}

.reveal .slides section .fragment.marker.yellow.visible {
  background-color: yellow;
}

.reveal .slides section .fragment.marker.blue.visible {
  background-color: blue;
}

.reveal .slides section .fragment.marker.cyan.visible {
  background-color: cyan;
}
